@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/public/fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(/public/fonts/montserrat/Montserrat-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}


/* 500 medium */
@font-face {
  font-family: 'Montserrat';
  src: url(/public/fonts/montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
/* 600 semibold */
@font-face {
  font-family: 'Montserrat';
  src: url(/public/fonts/montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
/* 700 bold */
@font-face {
  font-family: 'Montserrat';
  src: url(/public/fonts/montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

/* Open Sans */

/* 400 Regular */
@font-face {
  font-family: 'Open Sans';
  src: url(/public/fonts/opensans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
/* 500 medium */
@font-face {
  font-family: 'Open Sans';
  src: url(/public/fonts/opensans/OpenSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

/* 600 semibold */
@font-face {
  font-family: 'Open Sans';
  src: url(/public/fonts/opensans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

/* 700 bold */
@font-face {
  font-family: 'Open Sans';
  src: url(/public/fonts/opensans/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}